.container__side-card{
    padding-top: 20px;
  }
  
  .container__side-card-content{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .container__side-card-description{
    padding-top: 20px;
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
  }
  
  .side-card__photo > img {
    border-radius: 15px;
    width: 190px;
    min-width: 190px;
    min-height: 170px;
    margin-right: 20px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .side-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .side-card__title > h1 {
    font-size: 19px;
  }
  
  .side-card__description {
    padding-top: 12px;
    color: gray;  
    font-size: 14px;
  }
  
  .side-card__time {
    padding-top: 40px;
    font-size: 12px;
  }