<div class="container__menu-title">
    <div class="menu-bar">    
        <div class="menu-bar-icon">
            <h1><span class="to-part">TO.</span>NEWS</h1>
        </div>
        <div class="menu-bar-options">
            <ul>
                <li><a href="https://br.linkedin.com/in/gabriel-smereka">Linkedin</a></li>
                <li><span>v</span></li>
                <li><a href="https://github.com/gsmereka">Github</a></li>
                <li><span>v</span></li>
                <li><a href="https://www.instagram.com/gabrielsmereka/">Instagram</a></li>
                <li><span>v</span></li>
                <li><a href="https://dribbble.com/shots/25416503-TO-News-News-Landing-Page">Reference</a></li>
                <li><span>v</span></li>
            </ul>
        </div>
    </div>
    <div class="breaking-news">
        <p><span class="to-part">breaking-news: </span></p>
        <p><span>&nbsp;&nbsp;&nbsp;</span></p>
        <p> This is a blog template! This page was created with the help of Felipe Aguiar's tutorial.</p>
    </div>
</div>
  