
.container__articles{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
  }

.articles__main {
  max-width: 50%;
}
.articles__others {
  max-width: 50%;
}

.testing {
  display: none;
}